*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__/
env/
logs/
log/
tmp/
var/
migrations/
media/
static/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover
.hsqldb/
.vscode
node_modules/
npm-debug.log
config.gypi
*.tgz
.npm
.nyc_output
.yarn-integrity
.yarn/
yarn-error.log
.yarnrc.yml
.pnp.*
.pnp.js
.eslintcache
*.tsbuildinfo
.nuxt
dist
.cache/
.parcel-cache/
.next/
out/
.nest