services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: myonlinestoredb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 3520
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - POSTGRES_DB=myonlinestoredb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=3520
      - POSTGRES_HOST=db
      - DEBUG=True

volumes:
  postgres_data:
  static_volume:
  media_volume: