{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Каталог товаров</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no-image.jpg' %}{% endif %}"
                     class="card-img-top"
                     alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }} руб.</p>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}